body{
    margin: 0;
    padding: 0;
}
.grid-container{
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    background-color: #C3CFD9;
    padding: 10px;
    gap: 10px;

    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer"
    ;
}
#item-header, #item-aside, #item-footer{
    background-color: #DFE6ED;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}
#item-header{
    grid-area: header;
}
#item-aside{
    grid-area: aside;
}
#item-footer{
    grid-area: footer;
}
.flex-container-main{
    grid-area: main;
    display: flex;
    background-color: #EDB5BD;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.flex-container-line1, .flex-container-line2{
    display: flex;
    box-sizing: border-box;
    background-color: #D5E7F7;
    flex-direction: row;
    font-size: 25px;
    flex-grow: 1;
    gap: 25px;
    padding: 15px;
}
.flex-item-article1, .flex-item-article2, .flex-item-article3, .flex-item-article4{
    background-color: #A3DFD9;
    box-sizing: border-box;
    flex-grow: 1;
    padding-top: 15px;
    padding-left: 35px;
}